.teste{
    border: 1px solid red;
}

label{
    display: block;
    cursor: pointer;
}
section{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 23px;
}
@media(min-width: 400px){
    .botaovoltar{
        display: flex;
        justify-content: start;
    }
    @media(min-width: 400px){
        .cadastrar{
            display: flex;
            justify-content: end;
        }
    }
}
.telamenu{
    
    float: right;
}
.voltarpagina{
    text-decoration: none;
    color: white;
}
.voltarpagina:hover{
    text-decoration: none;
    color: white;
}
.sairpagina{
    font-size: 14px !important;
    text-decoration: none;
    
}
.sairpagina:hover{
    font-size: 14px !important;
    text-decoration: none;
    
}
.links{
    text-decoration: none;
    color: #c7c7c7;
    font-size: 20px;
}

.botaoescolha, .botaoescolha:hover{
    background: #007bff;
    color: #ffffff;
    text-decoration: none;
    padding-top: 15px;
    text-align: center;
    border-radius: 10px;
}
.botaoescolha:hover{
    background: #003665;
    color: #ffffff;
    text-decoration: none;
    padding-top: 15px;
    text-align: center;
    border-radius: 10px;
}

.centered{
    margin: 0 auto !important;
    float: none !important;
    margin-top: 2% !important; 

}

.foto{
    margin: 0 31%;
}
.usuario{
    margin: 0 31%;
}
.btn{
    margin: 0 16%
}